body {
    height: 100%
}

code {
    font-size: 120%;
}

li.done0 {
    list-style-type: none;
}

li.done4 {
    list-style-type: none;
}

.backtotop{
    outline: none;
    text-decoration:none;
    width:40px;
    height:40px;
    color: #0088cc;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
}

.backtotop:hover{
    outline: none;
    text-decoration:none;
    opacity:1.0;
    color: #0088cc;
}

.backtotop:focus{
    outline: none;
    text-decoration:none;
}

.backtotop:visited{
    outline: none;
    text-decoration:none;
    color: #0088cc;
}

h1 {
    border-bottom:dashed 1px #779977;
    font-size:2em;
    color:#555;
    font-size:2em;
}
h1,h2,h3,h4,h5,h6 {
    font-family:"Berylium","Book Antiqua";
}
h2 {
    color:#F06000;
    font-size:1.3em;
}
h3 {
    font-size:1.1em;
}
strong {
    color:red;
}
a:link, a:visited {
    color:#005599;
    text-decoration:none;
}
h1 a:link, h1 a:visited {
    color:#A77070;
    text-decoration:none;
    border-bottom:none;
}
h2 a:link, h2 a:visited {
    color:#779977;
    text-decoration:none;
    border-bottom:none;
}
h3 a:link, h3 a:visited {
    color:#555577;
    text-decoration:none;
    border-bottom:none;
}
pre {
    padding: 0 0 0 0
  }
